@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
    header, footer {
        border-radius: 10px;
    }
    header img {
        float: right;
        box-shadow: var(--shadow);
        border-radius: 0 10px 0 0;
    }
    
}