:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 0 30px #444;
}
html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark);
}
body {
    background-color: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}
#portal {
    background-color: azure;
    /* width: 500px; */
}
header, footer {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    height: 5rem;
    width: 50%;
 }

.links ul {
    margin-left: 1em;
}

h1 {
    font-size: 1rem;
    padding-top: 2rem;
    padding-left: 1em;
    margin-right: 8rem;
    justify-content: center;
    align-items: center;
 }
 h2 {
    font-size: 0.5rem;
    padding-left: 1em;
 }

header img {
    width: 150px;
    height: auto;
}

 img {
     margin-left: 1rem;
 }

footer p {
    padding-top: 10px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
     
 }
.end-paragraph {
    color: rgb(68, 82, 112); 
    font-size: small;
}