@media screen and (min-width: 500px){
	header img {
		width: 120px;
	}
	nav ul {
		display: flex;
	}
	nav ul li {
		display: block;
		flex: 1 1 auto;
	}
	nav ul li:first-child {
		display: none;
	}
	main{
		padding-left: 5rem;
        max-width: 80%;
    }
   
}