:root {
    --primary: #2A4665;
    --dark: #685460;
    --secondary: #FEFCF7;
    --light-yellow: #FEEAC3;
}
*, *::after, *::before{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    font-family: 'Lora', serif;;
    color: var(--dark);
}
body {
    background-color: var(--primary);
    margin: 30px 50px;
    line-height: 1.4;
    border: 1px var(--secondary);
}
h1, h2, p {
    color: var(--secondary);
    margin: 10px 5px;
}
img {
    max-width: 100%;
}
header {
    font-family: 'Lora', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   text-align: center; 
}
header img {
    width: 80px;
    padding: 10px 10px;
}
section h1 {
    font-size: Bold;
}
nav {
    border-radius: 10px;
    background-color: var(--light-yellow);
    font-family: Lora;
}

nav ul {
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-top: 1rem;
   
}
nav ul li:first-child {
    display: block;
}


nav ul li a {
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

nav ul li:hover{
    background-color: var(--secondary);
    transition: 0.9s;
    color: var(--blue);
    border-radius: 10px;
}

.active {
	pointer-events: none;
}
.menu {
    color: var(--secondary);
    background-color: var(--primary);
}    
.menu:hover{
    color: var(--secondary);
    background-color: var(--dark);
}
.open::after{
    content: " Menu";
}
.close::after{
    content: " Close";
}
.responsive li {
	display: block;
}
main{
    display: block;
    margin-bottom: 2rem;
}
main h2 {
    text-align: center;
    align-items: center;
}
.content-box{
    padding: 1rem 1rem;
    border: 1px solid red;
    background-color: #FEFCF7;
    margin-top: 10px;
}



footer {
    padding-top: 2rem;
    border-radius: 10px;
    height: 80px;
    text-align: center;
    background-color: var(--light-yellow);
}
footer p {
    color: var(--dark);
}
