@media screen and (min-width: 900px){
    header img {
        width: 200px;
    }
    nav ul {
        max-width: 100%;
    }

    main {
        margin: 0 auto;
        background-color: white;

    }
    .herodiv {
        width: 100%;
        margin: 0 auto;
    }
    h2 {
        color: #030;
    }
    .weathersummary {
        margin-left: 5rem;
        width: 30%;
        height: 50%;
        border-radius: 10px;
        border: 1px solid yellow;
    }
    .weathersummary p {
        font-size: 1.5rem;
    }
    .weathersummary h3 {
        font-size: bold;
        font-size: 1.5rem;
    }
    .box {
        border: 2px solid red;
        margin: 5px 5px;
    }
    .box h4 {
        font-size: 1rem;
        border-radius: 10px;
    }
    .clearfix p {
        font-size: 1.5rem;
        color: black;
    }
    /* gallery */
    .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    .gallery img {
        padding: 2px 2px;
        background-color: aliceblue;
        border-radius: 10px;
    }
    .picture {
        padding: 2px 2px;
        background-color: aliceblue;
        border-radius: 10px;
        border: 1px solid var(--light-yellow);
    }
    .gallery img:hover {
        box-shadow: 0 0 50px #333;
    }
      

}
