@media screen and (min-width: 500px){
	header img {
		width: 120px;
	}
	nav ul {
		display: flex;
	}
	nav ul li {
		display: block;
		flex: 1 1 auto;
	}
	nav ul li:first-child {
		display: none;
	}
	main{
		padding-left: 5rem;
        max-width: 80%;
    }
	.herodiv {
		width: 100%;
	}
	.forecast {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 10px;
	}
	.article {
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
	}
	.information {
		display: grid;
    	grid-template-columns: 1fr 1fr;
		width: 97%;
		padding-left: 2rem;
	}
   
}