@media screen and (min-width: 900px){
    header img {
        width: 200px;
    }
    nav ul {
        max-width: 100%;
    }
    main {
        margin: 0 auto;
        background-color: #00000099;

    }
    .herodiv {
        width: 100%;
        margin: 0 auto;
    }
    h2 {
        color: #030;
    }
    .weathersummary {
        color: white;
        margin-left: 10rem;
        width: 30%;
        height: 50%;
        border-radius: 10px;
        border: 1px solid rgb(65, 65, 43);
    }
    .weathersummary p {
        font-size: 1.5rem;
        color: white;
    }
    .weathersummary h3 {
        font-size: bold;
        font-size: 1.5rem;
    }
    .box h4 {
        font-size: 1rem;
        border-radius: 10px;
    }
    .clearfix p {
        font-size: 1.5rem;
    }
    .article p {
        color: white;
    }
    /* gallery */
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        }
        .gallery img {
            padding: 2px 2px;
            background-color: aliceblue;
            border-radius: 10px;
        }
        .picture {
            padding: 2px 2px;
            background-color: aliceblue;
            border-radius: 10px;
            border: 1px solid var(--light-yellow);
        }
        .gallery img:hover {
            box-shadow: 0 0 50px #333;
        }
        /*-----HOME PAGE --------*/
        div.cards {
        display: flex; 
        }
        div.cards section {
        display: block;
        }
        .class {
            display: flex;
        }
        .soda-forecast {
            width: 60%;
            margin-left: 15rem;
        }
        .soda-forecast {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-content: center;
            border: 1px solid white;
        }
        .box {
            border: 1px solid white;
            background-color: rgb(67, 73, 73);
            width: 100%;
        }
        .box h1 {
            background-color: #76880066;
            text-align: center;
            color: white;
        }
        .box p {
            color: white;
            text-align: center;
        }
        .box img {
            padding-left: 1.5rem;
            text-align: center;
            height: 80px;
        }
         .popup .overlay {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 1;
            display: none;
        }
        .popup .content { 
            position: absolute;
            top: 5%;
            right: 5%;
            /* transform: translate(-50%, -50%) scale(0); */
            background-color: #fff;
            width: 250px;
            height: 180px;
            z-index: 2;
            text-align: center;
            padding: 20px;
            box-sizing: border-box;
        } 
       .popup .close-btn {
           position: absolute;
           right: 10px;
           top: 10px;
           width: 30px;
           height: 30px;
           background-color: #222;
           color: #fff;
           font-size: 25px;
           font-weight: 600;
           line-height: 30px;
           text-align: center;
           border-radius: 50%;
       }
       .popup.active .overlay{
        display: black;
       }
       .popup.active .content{
           transition: all 300ms ease-in-out;
        transform: translate(-50%, -50%) scale(0);
       }
       button {
           float: top;
           color: blue;
           width: 70%;
           border: 1px solid #00000099;
           border-radius: 20rem;
           line-height: 40px;
           background-color: var(--light-yellow);
           
       } 
       .content h1 {
           color: darkmagenta;
       }
       /* -------storm------ */
       #storm-form {
           background-color: #fff;
       }
       .event {
           text-align: center;
           margin-top: 3rem;
           margin-left: 20rem;
           width: 50%;
           border: 1px solid white;
       }
       .event h1{
        background-color: rgb(125, 175, 84);
       }
       .event p {
           color: var(--light-yellow);
       }
       .home-text {
           margin-top: 2rem;
           margin-left: 5rem;
           padding: 10px 10px;
           width: 80%;
           height: 90%;
           border: 1px solid white;
           text-align: center;
           color: white;
           line-height: 1.5rem;
       }
}

